@page "/"

<div class="main-background text-center p-5">
    <h1>
        Velkommen til Ringenes Herre <br />
        <img src="Images/RingnesHerre.jpg" alt="Ringenes Herre" style="width: 600px; margin: 100px auto;" />
    </h1>

    <h2>Velg en kategori:</h2>
    <br />

    <h3>
    <ul style="list-style: none; padding: 0;">
        <li><a href="/books" style="color: black; font-weight: bold; font-size: 3rem">
            Bøker
        </a></li>
        <li><a href="/characters" style="color: black; font-weight: bold; font-size: 3rem">Karakterer</a></li>
    </ul>
    </h3>
</div>